#title {
    font-size: 50px;
    text-align: center;
    transition-duration: 0.7s;
    font-weight: lighter;
    padding-bottom: 50px 
  }
  
  #title:hover {
    font-size: 52px;
    color: #34ebbd;
  }
  
  #box {
    align-items: center;
    
  }

  .container {
      height: 750px;
      width: 1500px;
      display: flex;
      justify-content: center;

  }

  .bar {
    fill: #34ebcd;
  }

  .bar:hover {
    fill: white;
  }

  svg {
    display: block;
    margin: auto;
  }
