#title {
    font-size: 50px;
    text-align: center;
    transition-duration: 0.7s;
    font-weight: lighter;
  }
  
  #title:hover {
    font-size: 52px;
    color: #eb7d34;
  }
  
  #box {
    align-items: center;
  }

  .container {
      height: 1900px;
      width: 1500px;
      border: 1px solid #eb7d34;
      display: flex;
      justify-content: center;

  }

  .bar {
    fill: #eb7d34;
  }